*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --primary: #007bff;
  --color-232f3e: #232f3e;
}

/* Header Part */
.header-top-strip{
  background-color: var(--primary);
}
/* Header End */

/* Login */
.login-body{
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 86vh;
}
.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-login{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
/* Footer */
footer{
    background-color: var(--color-232f3e);
}